{{define "config"}}
{{template "header" .}}

<style>
body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
</style>

<div class="container">

    <form class="form-signin" method="post" action="/config/update">
        <h2 class="form-signin-heading">Config</h2>

        <label for="inputAPIServerURL" class="sr-only">API Server URL</label>
        <input type="url" value="{{.config.APIServerURL}}" name="inputAPIServerURL" id="inputAPIServerURL" class="form-control" placeholder="API Server URL" required autofocus>

        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" value="{{.config.Username}}" name="inputUsername" id="inputUsername" class="form-control" placeholder="Username" required>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
    </form>

</div> <!-- /container -->

{{template "footer" .}}
{{end}}
