{{define "nsInfo"}}
{{template "header" .}}

<div class="main">
    <h1 class="page-header">项目 {{.title}}</h1>

<p>
    <a class="btn btn-primary" href="/namespaces/{{.ns}}/replicationcontrollers.form" role="button">创建副本控制器</a>
</p>

<table class="table table-condensed table-striped">
    <caption>副本控制器</caption>
    <thead>
    <tr>
        <th>实例名</th>
        <th>副本模板</th>
        <th>设定副本数</th>
        <th>当前副本数</th>
        <th>存活</th>
        <th>选取规则</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {{range .rcs}}
    <tr>
        <td>
            <a href="/namespaces/{{$.ns}}/pods?labelSelector={{.SelectorString|urlquery}}">
            {{.Name}}
            </a>
        </td>
        <td>
            {{range .TemplateImages}}
            <span class="glyphicon glyphicon-cd"></span>
            {{if .PrivateRepo }}
                {{.Image}}
            {{else}}
                <span class="text-danger" title="来自 Docker Hub">{{.Image}}</span>
            {{end}}
            <br/>
            {{end}}
        </td>
        <td>{{.DesiredReplicas}}</td>
        <td>{{.CurrentReplicas}}</td>
        <td>{{.Age}}</td>
        <td>{{range $k, $v := .Selector}}
            <span class="label label-default">{{printf "%s=%s" $k $v}}</span>{{end}}
        </td>
        <td>
            <a href="/namespaces/{{$.ns}}/replicationcontrollers/{{.Name}}/edit">
                <span class="glyphicon glyphicon-edit" title="编辑描述"></span>
            </a>
            <a href="/namespaces/{{$.ns}}/replicationcontrollers/{{.Name}}/edit?delete">
                <span class="glyphicon glyphicon-trash" title="删除实例"></span>
            </a>
        </td>
    </tr>
    {{end}}
    </tbody>
</table>

{{if .svcs}}
<table class="table table-condensed table-striped">
    <caption>LB Frontend</caption>
    <thead>
    <tr>
        <th>实例名</th>
        <th>内网IP</th>
        <th>外网IP</th>
        <th>端口</th>
        <th>存活</th>
        <th>选取规则</th>
    </tr>
    </thead>
    <tbody>
    {{range .svcs}}
    <tr>
        <td>{{if .SelectorString}}
            <a href="/namespaces/{{$.ns}}/pods?labelSelector={{.SelectorString|urlquery}}">
            {{.Name}}
            </a>
            {{else}}
            {{.Name}}
            {{end}}
        </td>
        <td>{{.InternalIP}}</td>
        <td>{{.ExternalIP}}</td>
        <td>{{range .Ports}}
            <span class="label label-primary">{{.}}</span>{{end}}
        </td>
        <td>{{.Age}}</td>
        <td>{{range $k, $v := .Selector}}
            <span class="label label-default">{{printf "%s=%s" $k $v}}</span>{{end}}
        </td>
    </tr>
    {{end}}
    </tbody>
</table>
{{end}}

{{if .eps}}
<table class="table table-condensed table-striped">
    <caption>LB Backend</caption>
    <thead>
    <tr>
        <th>实例名</th>
        <th>存活</th>
        <th>目标地址</th>
    </tr>
    </thead>
    <tbody>
    {{range .eps}}
    <tr>
        <td>{{.Name}}</td>
        <td>{{.Age}}</td>
        <td>{{.Endpoints}}</td>
    </tr>
    {{end}}
    </tbody>
</table>
{{end}}

{{if .nodes}}
    {{template "nodeTable" .nodes}}
{{end}}

</div>

{{template "footer" .}}
{{end}}
