{{define "overview"}}
{{template "header" .}}

<div class="main">
    <h1 class="page-header">Sigma</h1>
    <div class="container-fluid">
        <div class="row">
            {{range .summary.Namespaces}}
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">项目
                        <a href="/namespaces/{{.Name}}">
                            {{.Name}}
                        </a>
                        {{if .EventCount}}
                        <a href="/namespaces/{{.Name}}/events">
                            <span class="badge">{{.EventCount}}</span>
                        </a>
                        {{end}}
                    </div>
                    <div class="panel-body">
                        <a href="/namespaces/{{.Name}}/pods">
                            有 {{.PodCount}} 个容器
                        </a>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </div>
    <h2 class="sub-header">主机管理</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <a href="/nodes">
                    共 {{.summary.NodeCount}} 个服务器
                </a>
            </div>
        </div>
    </div>
</div>

{{template "footer" .}}
{{end}}
