{{define "podDetail"}}
{{template "header" .}}

<div class="main">
    <ol class="breadcrumb">
        <li><a href="/namespaces/{{.namespace}}">{{.namespace}}</a></li>
        <li><a href="/namespaces/{{.namespace}}/pods">pods</a></li>
        <li class="active">{{.pod}}</li>
    </ol>
    <h1 class="page-header">{{.pod}}</h1>

    <div class="btn-group" role="group">
        <a class="btn btn-default active" href="/namespaces/{{.namespace}}/pods/{{.pod}}" role="button">容器描述</a>
        <a class="btn btn-default" href="/namespaces/{{.namespace}}/pods/{{.pod}}/log" role="button">当前日志</a>
        <a class="btn btn-default" href="/namespaces/{{.namespace}}/pods/{{.pod}}/log?previous" role="button">上次日志</a>
        <a class="btn btn-default" href="/namespaces/{{.namespace}}/pods/{{.pod}}/edit" role="button">编辑描述</a>
    </div>

    <pre>{{.json}}</pre>

</div>

{{template "footer" .}}
{{end}}
