{{define "podList"}}
{{template "header" .}}

<div class="main">
    <h1 class="page-header">{{.title}}</h1>

<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>实例名</th>
            <th>镜像</th>
            <th>状态</th>
            <th>存活</th>
            <th>网络模式</th>
            <th>主机IP</th>
            <th>容器IP</th>
            <th>端口</th>
        </tr>
    </thead>
    <tbody>
        {{range .pods}}
        <tr>
            <td>{{.Name}}</td>
            <td>
                {{if .PrivateRepo }}
                    {{.Image}}
                {{else}}
                    <span class="text-danger">{{.Image}}</span>
                {{end}}
            </td>
            <td>
                {{if eq .Status "Running"}}
                    <span class="label label-success">{{.Status}}</span>
                {{else}}
                    <span class="label label-danger">{{.Status}}</span>
                {{end}}
                {{if eq .ReadyContainers .TotalContainers}}
                    <span class="label label-success">{{printf "%d/%d" .ReadyContainers .TotalContainers}}</span>
                {{else}}
                    <span class="label label-danger">{{printf "%d/%d" .ReadyContainers .TotalContainers}}</span>
                {{end}}
                <span class="label label-default">{{.Restarts}}</span>
            </td>
            <td>{{.Age}}</td>
            <td>
                {{if .HostNetwork}}
                    <span class="label label-warning">HOST</span>
                {{else}}
                    <span class="label label-info">NAT</span>
                {{end}}
            </td>
            <td>{{.HostIP}}</td>
            <td><span class="label label-default">{{.PodIP}}</span></td>
            <td>{{.Ports}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
</div>

{{template "footer" .}}
{{end}}
