{{define "podList"}}
{{template "header" .}}

<div class="main">
    <h1 class="page-header">容器管理</h1>

<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>实例名</th>
            <th>镜像</th>
            <th>状态</th>
            <th>规格</th>
            <th>存活</th>
            <th>网络模式</th>
            <th>主机IP</th>
            <th>容器IP</th>
            <th>端口</th>
        </tr>
    </thead>
    <tbody>
        {{range .pods}}
        <tr>
            <td>
                <a href="/namespaces/{{.Namespace}}/pods/{{.Name}}">{{.Name}}</a>
            </td>
            <td>
                {{if .PrivateRepo }}
                    {{.Image}}
                {{else}}
                    <span class="text-danger" title="来自 Docker Hub">{{.Image}}</span>
                {{end}}
            </td>
            <td>
                {{if eq .Status "Running"}}
                    <span class="label label-success">{{.Status}}</span>
                {{else}}
                    <span class="label label-danger">{{.Status}}</span>
                {{end}}
                {{if eq .ReadyContainers .TotalContainers}}
                    <span class="label label-success" title="就绪/总数">{{printf "%d/%d" .ReadyContainers .TotalContainers}}</span>
                {{else}}
                    <span class="label label-danger" title="就绪/总数">{{printf "%d/%d" .ReadyContainers .TotalContainers}}</span>
                {{end}}
                <span class="label label-default" title="重启次数">{{.Restarts}}</span>
            </td>
            <td>
                <span class="label label-default" title="CPU核心数">{{.Requests.cpu}}C</span>
                <span class="label label-default" title="内存">{{.Requests.memory}}</span>
            </td>
            <td>{{.Age}}</td>
            <td>
                {{if .HostNetwork}}
                    <span class="label label-warning">HOST</span>
                {{else}}
                    <span class="label label-primary">NAT</span>
                {{end}}
            </td>
            <td>
                <a href="/nodes/{{.HostIP}}">{{.HostIP}}</a>
            </td>
            <td><span class="label label-default">{{.PodIP}}</span></td>
            <td>{{if .HostNetwork}}
                {{range .Ports}} <span class="label label-warning">{{.}}</span> {{end}}
                {{else}}
                {{range .Ports}} <span class="label label-primary" title="主机端口->容器端口">{{.}}</span> {{end}}
                {{end}}
            </td>
        </tr>
        {{end}}
    </tbody>
</table>

</div>

{{template "footer" .}}
{{end}}
