{{define "podList"}}
{{template "header" .}}

<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>实例名</th>
            <th>镜像</th>
            <th>状态</th>
            <th>存活</th>
            <th>网络模式</th>
            <th>主机IP</th>
            <th>容器IP</th>
            <th>端口</th>
        </tr>
    </thead>
    <tbody>
        {{range .pods}}
        <tr>
            <td>{{.Name}}</td>
            <td>{{.Image}}</td>
            <td class="{{if eq .ReadyContainers .TotalContainers}}success{{else}}danger{{end}}">
                {{.Status}} ({{printf "%d/%d" .ReadyContainers .TotalContainers}}) {{.Restarts}}
            </td>
            <td>{{.Age}}</td>
            <td class="{{if .HostNetwork}}warning{{else}}info{{end}}">
                {{if .HostNetwork}}HOST{{else}}NAT{{end}}
            </td>
            <td>{{.HostIP}}</td>
            <td>{{.PodIP}}</td>
            <td>{{.Ports}}</td>
        </tr>
        {{end}}
    </tbody>
</table>

{{template "footer" .}}
{{end}}
