{{define "replicationControllerForm"}}
{{template "header" .}}

<script src="/js/jsoneditor.min.js"></script>

<div class="main">
    <h1 class="page-header">新建</h1>

    <div class="btn-group" role="group">
        <button type="button" onclick="submit()" id="submit" class="btn btn-warning">提交更改</button>
    </div>

    <div class="container editor-container">
        <div class="row">
            <div class="col-md-8 editor-left">
                <div id="jsoneditor"></div>
            </div>
            <div class="col-md-4 editor-right">
                <div id="annoeditor-container"></div>
            </div>
        </div>
    </div>
</div>

<script src="/js/page.js"></script>
<script>
// create the editor
var object = JSON.parse("{{.json}}");
var editor = createJSONEditor(
    object,
    '.spec.template.metadata.annotations',
    document.getElementById('jsoneditor'),
    document.getElementById('annoeditor-container'));
// submit button
function submit() {
    var object = editor.get();
    post('/namespaces/{{.namespace}}/replicationcontrollers', {
        json: JSON.stringify(object),
    });
}
</script>

{{template "footer" .}}
{{end}}
