{{define "replicationControllerEdit"}}
{{template "header" .}}

<script src="/js/jsoneditor.min.js"></script>

<div class="main">
    <ol class="breadcrumb">
      <li>项目 <a href="/namespaces/{{.namespace}}">{{.namespace}}</a></li>
      <li class="active">副本控制器</li>
      <li class="active">{{.objname}}</li>
    </ol>
    <h1 class="page-header">{{.objname}}</h1>

    <div class="btn-group" role="group">
        {{if eq .delete `true`}}
        <button type="button" onclick="deleteMe()" id="delete" class="btn btn-danger">删除实例</button>
        {{else}}
        <button type="button" onclick="submit()" id="submit" class="btn btn-warning">提交更改</button>
        {{end}}
    </div>

    <div class="container editor-container">
        <div class="row">
            <div class="col-md-8 editor-left">
                <div id="jsoneditor"></div>
            </div>
            <div class="col-md-4 editor-right">
                <div id="annoeditor-container"></div>
            </div>
        </div>
    </div>

</div>

<script src="/js/page.js"></script>
<script>
// create the editor
var object = JSON.parse("{{.json}}");
var editor = createJSONEditor(
    object,
    '.spec.template.metadata.annotations',
    document.getElementById('jsoneditor'),
    document.getElementById('annoeditor-container')).editor;
// submit button
function submit() {
    var object = editor.get();
    post('/namespaces/{{.namespace}}/replicationcontrollers/{{.objname}}/update', {
        json: JSON.stringify(object),
    });
}
// delete button
function deleteMe() {
    post('/namespaces/{{.namespace}}/replicationcontrollers/{{.objname}}/delete', {
    });
}
</script>

{{template "footer" .}}
{{end}}
