{{define "serviceForm"}}
{{template "header" .}}

<script src="/js/jsoneditor.min.js"></script>
<script src="/js/filereader.js"></script>
<script src="/js/filesaver.js"></script>

<div class="main">
    <h1 class="page-header">新建</h1>

    <div class="btn-group" role="group">
        <button type="button" onclick="submit()" id="submit" class="btn btn-warning">提交更改</button>
        <button type="button" id="saveDocument" class="btn btn-default"><span class="glyphicon glyphicon-save-file"></span>保存文档</button>
        <span class="btn btn-default btn-file"><span class="glyphicon glyphicon-open-file"></span>载入文档<input type="file" id="loadDocument"></span>
    </div>

    <div id="jsoneditor"></div>
</div>

<script src="/js/page.js"></script>
<script>
// create the editor
var container = document.getElementById('jsoneditor');
var options = {
    modes: ["tree", "code"],
    mode: "tree",
    onError: function (err) {
        alert(err.toString());
    },
};
var object = JSON.parse("{{.json}}");
var editor = new JSONEditor(container, options, object);
// submit button
function submit() {
    var object = editor.get();
    post('/namespaces/{{.namespace}}/services', {
        json: JSON.stringify(object),
    });
}
// save and load
document.getElementById('saveDocument').onclick = function () {
    var object; try { object = editor.get(); } catch (e) { alert(e); return; }
    var blob = new Blob([JSON.stringify(object, null, 2)], {type: 'application/json;charset=utf-8'});
    saveAs(blob, 'service.json');
};
FileReaderJS.setupInput(document.getElementById('loadDocument'), {
    readAsDefault: 'Text',
    on: { load: function (event, file) { editor.setMode('code'); editor.setText(event.target.result); } }
});
</script>

{{template "footer" .}}
{{end}}
